header {
    background-color: #007bff;
    background-image: url("texture.png");
    background-size: cover;
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo h2 {
    font-size: x-large;
    color: bisque;
    user-select: none;
  }

  .logo h2:hover {
    cursor: pointer;
  }

  .logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #007bff;
  }
  
  .navbar-brand {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .logo img {
      height: 30px;
    }
  
    nav ul {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #007bff;
      background-image: url("texture.png");
      background-size: cover;
      padding: 10px;
      margin: 0;
      display: none;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    nav ul li:last-child {
      margin-bottom: 0;
    }
  
    nav ul li a {
      color: #fff;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
    }
  
    nav ul li a:hover {
      color: #007bff;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
  
    .menu-icon i {
      color: #fff;
      font-size: 24px;
    }
  
    .menu-icon.active + nav ul {
      display: flex;
      flex-direction: column;
    }
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #fff;
    color: #007bff;
  }